:root {
  --Pink: #ef6db3;
  --SkyBlue: #4e97ee;
  --Red: #cd2525;
  --White: #ffffff;
  --Black: #000000;
  --DarkGray: #868383;
  --Gray: #ccced1;
  --LightGray: #f0f0f0;
}

.el-link__inner{
  padding-bottom: .25rem;
}
